@use 'variables' as *;


@mixin celular {
    @media (min-width: #{$mobile}) {
        @content ;
    }
    .contenido-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .contenido-header h1 {
        margin: 0;
    }
} 

@mixin  tablet {
    @media (min-width: 601px) and (max-width: 768px) {
        @content;
    }
}

@mixin netbook {
    @media (min-width: 769px) and (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

